@font-face {
    font-family: "codefont";
    src: url("SourceCodePro-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --customFont: "codefont";
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body * {
    font-family: var(--customFont);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
}

h1,
h2 {
    color: rgb(0, 255, 0);
    text-shadow:
        -1px -1px 5px #000,
        1px -1px 5px #000,
        -1px 1px 5px #000,
        1px 1px 5px #000;
}

li {
    font-size: 25px;
}

textarea {
    field-sizing: content;
    min-height: 28px;
    font-size: 28px;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid black;
    outline: none;
    resize: none;
    color: chartreuse;
    width: 75vw;
}

textarea:focus {
    field-sizing: content;
    min-height: 28px;
    font-size: 28px;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid black;
    color: chartreuse;
    box-shadow:
        0 0 5px chartreuse,
        0 0 10px chartreuse;
    outline: 1px solid black;
    resize: none;
    width: 75vw;
}

textarea::placeholder {
    opacity: 0.8;
    color: gray;
}

button {
    font-size: 35px;
    border-radius: 15px;
    width: 175px;
    height: 60px;
    margin-left: 20px;
    padding: 5px;
    color: gray;
    outline: 2px solid black;
}

button:active {
    font-size: 35px;
    border-radius: 15px;
    width: 175px;
    height: 60px;
    margin-left: 20px;
    padding: 5px;
    color: chartreuse;
    box-shadow:
        0 0 5px chartreuse,
        0 0 10px chartreuse;
    outline: 2px solid black;
}

#container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("huaxiake-012.gif");
    background-size: cover;
    background-position: center;
}

#container * {
    text-shadow: 0px 0px 10px black;
}

#content {
    align-self: flex-start;
    display: flex;
    background-color: dimgray;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    margin-left: 30px;
    overflow-y: auto;
    width: 90vw;
    height: 500px;
    flex-direction: column-reverse;
    align-items: flex-start;
    background-color: rgb(40, 40, 40);
    outline: 2px solid black;
}

#input {
    width: 80vw;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#input * {
    background-color: rgb(50, 50, 50);
}

#msglabel {
    outline: 2px solid black;
    align-self: flex-start;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: -10px;
    margin-left: 50px;
    padding: 5px 10px 5px 10px;
    background-color: rgb(70, 70, 70);
    border-radius: 10px 10px 0px 0px;
}
